body, .wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: Lato;

  transition: 0.3s ease-in-out;
}

.container, .wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

h1 {
  color: #28ABE3;
  font-weight: 400;
  font-size: 4.5em;

  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 2.5em;

  padding-top: 5px;
  padding-bottom: 5px;

  margin-top: 0;
  margin-bottom: 0;

  transition: 0.3s ease-in-out;
}

.hobbies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hobbies a {
  text-transform: uppercase;
  padding-right: 75px;
}

.hobbies a:last-child {
  padding-right: 0;
}

.hobbies a h2 {
  font-size: 1.5em;
}

.music {
  color: #DB3340;
}

.fashion {
  color: #E8B71A;
}

.coding {
  color: #1FDA9A;
}

.description {
  font-weight: 400;
  text-align: left;
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  padding-top: 0;
  box-sizing: border-box;
  font-size: 1.25em;
  line-height: 1.5em;
}

.description .bold {
  font-weight: 600;
}

.description .underline {
  border-bottom: 1px dashed;
}
