body {
	background: #000000;
	color: #00A300;
}

#container {
	width: 960px;
	margin: auto;
	font-family: monospace;
}

#header {
	height: 100px;
}

#header h1 {
	font-size: 48px;
	margin: 20px 20px 0 20px;
	display: inline-block;
}

#header h2 {
	font-size: 24px;
	margin:0;
	display: inline-block;
}

#menu {
	list-style: none;
	margin: none;
}

#menu li {
	display: inline;
	margin: 0 20px 0 4px;
	font-size: 18px;
}

#content h3 {
	font-size: 24px;
	text-align: center;
}

#content p {
	margin: 0 0 0 20px;
	font-size: 15px;
}

.social {
	height:200px;
	display: inline-block;
}