@font-face {
  font-family: 'GT-Walsheim';
  src:url('../../../fonts/GT-Walsheim.otf');
  font-weight: normal;
  font-style: normal;
}

$font: 'GT-Walsheim';
$primary-color: #DB3340;

$fortify-color: #50AB6E;
$scheme-color: #7F00FF;
$proof-color: #D61E43;
$pocketbox-color: #1FD5F5;

$breakpoint: 500px;
$mobile-break: 705px;

.ui.container {
  max-width: 600px !important;
  font-family: $font;

  h1.ui.header {
    color: $primary-color;

    font-family: $font;
    font-weight: normal !important;
    font-size: 3em;

    text-align: center;
  }

  .ui.three.column.grid {
    padding-bottom: 3rem;

    .column {
      text-align: center;

      a {
        color: $primary-color;
        opacity: 0.75;

        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  p {
    margin-bottom: 3rem;

    .exclamation {
      font-family: 'Lato';
    }

    .name {
      color: #fff;
      background: $primary-color;
      padding: 0 5px;
    }

    .interest {
      color: $primary-color;
      font-style: italic;
    }

    .hook {
      color: $primary-color;
      border-bottom: 1px dashed $primary-color;
    }
  }

  .ui.grid {
    .row > .column {
      .inner {
        cursor: pointer;

        height: 160px;
        padding: 1rem;

        opacity: 0.75;
        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 1;
        }

        &.fortify {
          background: $fortify-color;
        }

        &.scheme {
          background: $scheme-color;
        }

        &.pocketbox {
          background: $pocketbox-color;
        }

        &.proof {
          background: $proof-color;
        }

        h2.ui.header {
          font-size: 2.25rem;

          color: #fff;
          text-align: center;

          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media screen and (min-height: $mobile-break) {
  body {
    height: 100vh;
  }

  .ui.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (max-height: $mobile-break) {
  .ui.container {
    padding-top: 1rem;
  }
}

@media screen and (min-width: $breakpoint) {
  .ui.container {
    font-size: 2rem;
  }
}

@media screen and (max-width: $breakpoint) {
  .ui.container {
    font-size: 1.5em;

    .ui.grid {
      .row > .column {
        .inner {
          h2.ui.header {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
