$red: #1499D3;
$white: #ffffff;
$black: #000000;

$font: "Lato";

$large: 4.5rem;
$large-downscale: 2.5rem;
$medium: 2.25rem;
$medium-downscale: 1.75rem;
$emphasized: 1.4rem;
$normal: 1.125rem;
$smaller: 1rem;

$mobile-cutoff: 767px;
$larger-cutoff: 1000px;

a {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

@media only screen and (max-width: $mobile-cutoff) {
  .large.display {
    display: none !important;
  }
}

@media only screen and (min-width: $mobile-cutoff) {
  .small.display {
    display: none;
  }
}

.ui.stackable.grid {
  min-height: 100vh;

  .left.column {
    background: $red;
  }

  .right.column {
    background: $white;
  }

  .name.ui.header {
    width: 100%;
    font-size: $large;
    padding-top: 1rem;
    &.left {
      text-align: right;
      @media only screen and (max-width: $larger-cutoff) {
        font-size: $medium;
      }
      @media only screen and (max-width: $mobile-cutoff) {
        text-align: center;
      }
      color: $white;
    }
    &.right {
      text-align: left;
      margin-bottom: 0;
      @media only screen and (max-width: $larger-cutoff) {
        font-size: $medium;
      }
      @media only screen and (max-width: $mobile-cutoff) {
        text-align: center;
      }
      color: $red;
      span.sideline {
        font-size: $medium;
        color: $red;
        @media only screen and (max-width: $larger-cutoff) {
          font-size: $medium-downscale !important;
        }
      }
      display: block;
    }
    font-family: $font;
  }

  .resume {
    .bio {
      padding-top: 0;
      padding-right: 1rem;
      margin-bottom: 0;
      font-family: $font;
      font-size: $normal;
      color: $black;
    }
    h2.ui.header {
      font-family: $font;
      color: $red;
      font-size: $medium;
      margin-top: 1rem;
      margin-bottom: 1rem;
      @media screen and (max-width: $mobile-cutoff) {
        text-align: center;
      }
    }
    .ui.jobs.list {
      .job {
        margin-top: 0.5rem;
        font-family: $font;
        h3.ui.header {
          color: $red;
          font-family: inherit;
          font-size: $emphasized;
        }
        p {
          font-size: $normal;
        }
      }
    }
    .ui.projects.list {
      .project {
        margin-top: 0.5rem;
        font-family: $font;
        h3.ui.header {
          a {
            color: $red !important;
          }
          font-family: inherit;
          font-size: $emphasized;
        }
        p {
          font-size: $normal;
        }
      }
    }
  }

  .details.list {
    text-align: right;
    @media only screen and (max-width: $mobile-cutoff) {
      text-align: center;
    }
    padding-top: 2rem;
    .ui.header {
      color: $white;
      font-family: $font;
    }
    .ui.list {
      .item {
        a {
          color: $white !important;
        }
        font-family: $font;
        color: $white;
        font-size: $emphasized;
      }
    }
  }

  .credentials {
    padding-top: 0 !important;
  }
}
